body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    padding: 40px;
}

h1 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #1d4ed8;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f1f5f9;
    text-align: left;
}


button {
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}

.btn-delete {
    background-color: #dc2626;
    color: white;
    margin-left: 10px;
}

.btn-delete:hover {
    background-color: #b91c1c;
}

.btn-up {
    background-color: #73c1c8;
    color: rgb(0, 0, 0);
    border-radius: 10%;
}

.btn-up:hover {
    background-color: #73c1c8;
}

form {
    background: #fff;
    padding: 20px;
    max-width: 400px;

}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
